<mat-toolbar class="toolbar-title"> Criação de Classificaçãoes </mat-toolbar>

<mat-card class="card">
  <mat-card-content>
    <form class="form" [formGroup]="form">
      <div class="grid">
        <!-- Nome -->
        <mat-form-field appearance="outline">
          <mat-label>Idade</mat-label>
          <input matInput formControlName="classificacao" placeholder="Ex.: 12" />
          <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>
        <!-- Nome -->
        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="descricao" placeholder="Ex.: Idade minima ..." />
          <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>
      </div>

      <div class="actions">
        <button mat-raised-button routerLink="/classificacaos">Cancelar</button>

        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">
          Salvar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
